.event {
  display: block;
  max-width: 200px;
  box-sizing: border-box;
  background-color: #e2ecf5;
  border-left: solid 2px #6e9ecf;
  position: absolute;
}
.deleteButton {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #6e9ecf;
  top: 0px;
  right: 7px;
}
